.size{
  width: 100px;
  height: auto;
  border: solid transparent;
  border-radius: 50%;
}
img:hover{
  transform: scale(1.1) rotate(10deg);
  transition: transform 0.2s ease-in-out;
}
.selected {
  transform: scale(1.2);
}
