<ngt-canvas [shadows]="true" [scene]="{ background: 'white' | color }" >
  <ngt-ambient-light [intensity]="0.4"></ngt-ambient-light>
<!--  <ngt-point-light-->
<!--    [intensity]="0.9"-->
<!--    [position]="[4, 4, 2]"-->
<!--    (ready)="configureLights($event)"-->
<!--  ></ngt-point-light>-->
<!--  <ngt-point-light-->
<!--    [intensity]="0.8"-->
<!--    [position]="[-4, 4, 5]"-->
<!--    (ready)="configureLights($event)"-->
<!--  ></ngt-point-light>-->
<!--  <ngt-point-light-->
<!--    [intensity]="0.9"-->
<!--    [position]="[2, -2, 3]"-->
<!--    (ready)="configureLights($event)"-->
<!--  ></ngt-point-light>-->
<!--  <ngt-point-light-->
<!--    [intensity]="0.7"-->
<!--    [position]="[-4, -4, 2]"-->
<!--    (ready)="configureLights($event)"-->
<!--  ></ngt-point-light>-->
  <ngt-point-light
    [intensity]="0.5"
    [position]="[8, 10, 3]"
    (ready)="configureLights($event)"
  ></ngt-point-light>
  <ngt-point-light
    [intensity]="0.6"
    [position]="[-13, 11, 7]"
    (ready)="configureLights($event)"
  ></ngt-point-light>
  <ngt-point-light
    [intensity]="0.6"
    [position]="[13, -8, 4]"
    (ready)="configureLights($event)"
  ></ngt-point-light>
  <ngt-point-light
    [intensity]="0.5"
    [position]="[-12, -16, 5]"
    (ready)="configureLights($event)"
  ></ngt-point-light>
  <ngt-primitive
    *ngIf="car$ | async as cup"
    [object]="cup.scene"
    [castShadow]="true"
    (ready)="carLoaded($event)"
  >
  </ngt-primitive>
<!--  <ngt-mesh [position]="[0, -0.1, 0]" [rotation]="[-Math.PI / 2, 0, 0]" [receiveShadow]="true">-->
<!--    <ngt-plane-geometry [args]="[10, 10]"></ngt-plane-geometry>-->
<!--    <ngt-mesh-standard-material [parameters]="{color: 'silver'}"></ngt-mesh-standard-material>-->
<!--  </ngt-mesh>-->

  <ngt-soba-orbit-controls
    #controls="ngtSobaOrbitControls"
    [target]="[0, 0.5, 0]"
    (ready)="controlsReady(controls)"
  ></ngt-soba-orbit-controls>
  <ngt-soba-loader></ngt-soba-loader>
</ngt-canvas>

<!--<button (click)="swapWheels()">Swap Wheels</button>-->
